---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';

// Fetch all posts from the "articles" collection
const allPosts = await getCollection("articles");

const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = "Tags";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="max-w-3xl mx-auto text-center">
  
      <div class="flex flex-wrap justify-center gap-3">
        {tags.map((tag) => (
          <a href={`/tags/${tag}`} 
             class="bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300 text-sm px-4 py-2 rounded-full shadow-sm hover:bg-gray-300 dark:hover:bg-gray-600 transition">
            #{tag}
          </a>
        ))}
      </div>
    </div>
  </BaseLayout>
