---
import '../styles/global.css';
const pageTitle = "Posts";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/posts/">Posts</a>
      
        <h1>{pageTitle}</h1>
        <ul>
            <li><a href="/content/arduino-interface-to-mpu9250-mpu9255-gyroscope-accelerometer-and-compass">Arduino interface to MPU9250 / MPU9255 gyroscope, accelerometer, and compass</a>
            <li><a href="/content/arduino-st7735-spi-128x160-tft-display-module">Arduino ST7735 SPI 128×160 TFT Display Module</a>
            <li><a href="/content/arduino-usb-infrared-remote-receiver-for-kodi">Arduino USB Infrared Remote Receiver for Kodi</a>
            <li><a href="/content/pnp-super-animals-card-reader-barcode-generator">PnP Super Animals Card Reader Barcode Generator</a>
            <li><a href="/content/programming-an-itead-sonoff-wireless-smart-switch-esp8266">Programming an ITEAD Sonoff Wireless Smart Switch (ESP8266)</a>
            <li><a href="/content/raspberry-pi-and-arduino-via-gpio-uart">Raspberry Pi and Arduino via GPIO UART</a>
            <li><a href="/content/raspberry-pi-pinout-diagram">Raspberry Pi Pinout Diagram</a>
            <li><a href="/content/solderless-method-to-connect-esp-12-module-to-breadboard">Solderless method to connect ESP-12 module to breadboard</a>
            <li><a href="/content/upgrading-sonoff-wireless-smart-switch-flash-memory-esp8266">Upgrading Sonoff Wireless Smart Switch Flash Memory (ESP8266)</a>
        </ul>
    </body>
</html>

